:root {
  --night: #0C090A;
  --white-wisp: #E9E9E4;
}

html {
  background-color: var(--night);
  color: var(--white-wisp);
  font-size: 16px;
  font-family: "Geist", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

