:root {
  --night: #0C090A;
  --charcoal-blue: #060722;
  --white-wisp: #E9E9E4;
  --cyber-blue: #00aeff;
  --header-blue: #6293d8;
  --dull-blue: #000f5c;
  --deep-ocean: #020021;
  --charcoal: #1b1b1b;
}

html {
  background-color: var(--night);
  color: var(--white-wisp);
  font-size: 16px;
  font-family: "Geist", sans-serif;
}

/* Header Styling */
header {
  background-color: var(--deep-ocean);
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 3px var(--cyber-blue) solid;
  display: flex;
  justify-content: space-evenly;
}

.h-item {
  font-size: 2rem;
}

/* Body Styling */
main {
  margin: 0.5rem;
  /* background-color: var(--charcoal); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
  margin-bottom: 0.25rem;
  text-align: center;
  color: var(--header-blue);
}

h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

section {
  padding: 0.5rem;
}

a {
  transition: all ease-in-out 250ms;
}

a:hover {
  color: var(--cyber-blue);
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--deep-ocean);
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  border-top: 3px var(--cyber-blue) solid;
}

/* Class Selectors */
.comment {
  padding: 10px;
  background-color: var(--cyber-blue);
}

.main-link {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
}

.info-start {
  font-size: 1.2rem;
  font-style: italic;
  background-color: #1f1d1d;
  margin: 0.3rem 0.3rem 0.3rem 0;
  padding: 0.2rem;
  border-radius: 1rem;
}

/* Modal Styling */
.legis-btn {
  display: block;
  padding: 0.3rem;
  margin-top: 0.3rem;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: var(--deep-ocean);
  color: var(--white-wisp);
  border: var(--dull-blue) 2px solid;
  transition: all ease-in-out 200ms;
}

.legis-btn:hover {
  color: var(--cyber-blue);
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #8b0000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}